.conteiner{
    background: #d7d711;
    border: 5px solid #73dace;
    margin: 0 auto;
    padding: 5px;
    border-radius: 15px ;
    width: 1000px;
}
.top{
    height: 500px;
    background: #5d5c5c;
    width: 50%;

}
.header{
    display: flex;
    column-gap: 5px;
}
.main{
    height: 300px;
    background: #5d5c5c;
    margin-top: 5px;
}
.botom{
    display: flex;
    column-gap: 5px;
}
.a{
    height: 500px;
    width: 40%;
    background: #5d5c5c;
    margin-top: 5px;
}