.conteiner{
    border-radius: 15px;
    width: 1000px;
    margin: 0 auto;
    padding: 5px;
    border: 5px solid #a20dd0;
}
.color{
    background: #030303;
}
.flex{
    display: flex;
}
.h150{
    height: 150px;
}
.header{
    margin-bottom: 5px;
}
.w33{
    width: 33.33%;
}
.colum{
    column-gap: 5px;
}
.left2{
    display: flex;
    column-gap: 5px;
}
.right{
    flex-grow: 1;
}
.left{
    flex-direction: column;
    row-gap: 5px;
    width: 80%;
}