.conteiner{
    border-radius: 15px;
    width: 1000px;
    margin: 0 auto;
    padding: 5px;
    border: 5px solid #5d5c5c;
}

.header{
    height: 150px;
    margin-bottom: 5px;
    background: #030303;
}
.left1{
    background: #030303;
    height: 150px;
}
.left__item{
    width: 33.33%;
    height: 150px;
    background: #030303;
}
.left2{
    display: flex;
    column-gap: 5px;

}
.main{

    column-gap: 5px;
    display: flex;
}
.right{
    flex-grow: 1;
    background: #030303;

}
.left{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 80%;
}